body{
  background: #EBEBEB;
  font-family: 'Roboto Slab', serif;
}
.name {
  color: #FF4081;
}
.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 32px auto;
}
hr.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(60, 78, 177, 0), rgba(60, 78, 177, 0.75), rgba(60, 78, 177, 0));
}
.hrdiv{
  margin-top: 45px;
}


@media screen and (max-width: 600px){
  .pure-menu-heading {
    text-transform: uppercase;
    color: #E1E3F3;
  }
  .custom-toggle .bar {
    background-color: #FF4081;
  }
  .spacer-nav{
    width: 100%;
    background-color: rgba(30, 30, 30,1);
  }
  .pure-menu-link {
    color: #E1E3F3;
  }
  .title {
    text-align: center;
  }
  .job-description{
    font-size: 20px;
    font-weight: 500;
  }
  svg:not(:root) {
    overflow: hidden;
    margin: 0 auto;
  }
  .about {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }
  .div-title {
    text-align: center;
    color: #3C4DB0;
  }
  .about p {
    text-align: justify;
    font-size: 15px;
  }
  .spacer {
    margin-top: 24px;
  }
}
/*
  Menu Css
*/
.custom-wrapper {
          background-color: #3C4DB0;
          color: #E1E3F3;
          margin-bottom: 1em;
          -webkit-font-smoothing: antialiased;
          height: 2.1em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }

      .custom-wrapper.open {
          height: 14em;
      }

      .custom-menu-3 {
          text-align: right;
      }

      .custom-toggle {
          width: 34px;
          height: 34px;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
      }

      .custom-toggle .bar {
          background-color: #FF4081;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }

      .custom-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }

      .custom-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }

      .custom-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }

      @media (max-width: 47.999em) {

          .custom-menu-3 {
              text-align: left;
          }

          .custom-toggle {
              display: block;
          }

      }
